<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <appSettings>

    <add key="IP_Slave" value="127.0.0.1"/>
    <add key="Port_Slave" value="9595"/>

    <!--
      <add key="IP_Slave" value="192.168.1.1"/>
      <add key="Port_Slave" value="80"/>
    
    
      <add key="IP_Slave" value="232.0.1.3"/>
      <add key="Port_Slave" value="8080"/>
-->


  </appSettings>
</configuration>
